body {
  background: #ccc;
}

.outer {
  width: 100%;
  margin-top: 70px;
}

.inner {
  border-radius: 100px;
  width: 610px;
  margin: 0 auto;
  padding: 25px;
  background: #fff;
}

.row {
  text-align: center;
}

.die {
  width: 190px;
  height: 190px;
  border: none;
  border-radius: 190px;
  margin: 5px;
  background: #fff;
  display: inline-block;
}