body {
  background: url('assets/images/frozen.jpg');
  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 100px;
  width: 610px;
  height: 610px;
  margin: auto;
  padding: 25px;
  background: #fff;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background: rgba(0,0,0,.0);
}

.row {
  text-align: center;
}

.die {
  width: 190px;
  height: 190px;
  border: none;
  border-radius: 190px;
  margin: 5px;
  background: #fff;
  display: inline-block;
}

@media screen and (max-width: 568px) {
    
  .inner{
    width: 248px;
    height: 248px;
    border-radius: 24px;
    padding: 12px;
  }
  
  .die {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin: 0;
  }
  
}